
    <div class="container">
        <h2>Lista Empleados</h2>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let empleado of empleados">
                    <th>{{empleado.nombre}}</th>
                    <th>{{empleado.apellido}}</th>
                    <th>{{empleado.email}}</th>
                </tr>
            </tbody>
        </table>
    </div>
